*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #fafaf8;
  }


  header{
    background-color: #ffffff;
    padding: 5px 10px;
    align-items: center;
    gap: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.06);
  }

  h1,img{
      background-color: #ffffff;
      font-weight: 400;
  }

  main{
    padding: 30px 20px 10px;

  }

  .add-ingridient-form{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 12px;
  }

  .add-ingridient-form input{
      border-radius: 6px;
      padding: 8px 10px;
      border: 1px solid #d1d5d8;
      flex-grow: 1;
      min-width: 150px;
      outline: none;
  }

.add-ingridient-form button{
      font-family: 'Arial', sans-serif;
      border-radius: 6px;
      border: none;
      background-color: black;
      color: white;
      padding:10px 10px ;
      cursor: pointer;

} 

.add-ingridient-form button::before{
  content: "+";
  margin-right: 5px;
}